    <div class="container col l4 offset-l4 s12" >
      <!--Navbar-->
      <div id="nav" class="center-align" style="  padding:5em;">
          <a id="1" onclick="randomButton(this)" class="boton btn-floating btn waves-effect waves-light  red lighten-3"><i  class="material-icons">home</i></a>
          <a id="2" onclick="randomButton(this)" class="boton btn-floating btn waves-effect waves-light pink lighten-3"><i  class="material-icons">camera_alt</i></a>
          <a id="3" onclick="randomButton(this)" class="boton btn-floating btn waves-effect waves-light purple lighten-3"><i class="material-icons">account_circle</i></a>
          <a id="4" onclick="randomButton(this)" class="boton btn-floating btn waves-effect waves-light purple lighten-2"><i class="material-icons">brush</i></a>
      </div>
    </div>
